<!-- Container for demo purpose -->
{% extends "base.html" %}
{% block content %}
<div>

    <!-- Section: Design Block -->
    <section class="mb-40">
        <div class="text-center bg-gray-50 text-gray-800 py-24 px-6">
            <div class="text-5xl md:text-6xl xl:text-7xl font-bold
                tracking-tight mb-12">
                <span class="text-4xl"><br/>Tap into a whole new way of
                        communicating with <br></h2>
                    <span class="text-6xl text-purple-600">TapTalk</span>
                </div>
                <div>
                    <div class="inline-block max-w-sm p-6 bg-white border
                        border-gray-200 rounded-lg shadow dark:bg-gray-800
                        dark:border-gray-700">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight
                                text-gray-900 dark:text-white">Dashboard</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700
                            dark:text-gray-400">View messages sent using the system and explore statistics</p>
                        <a href="/dashboard" class="inline-flex items-center px-3 py-2
                            text-sm font-medium text-center text-white
                            bg-purple-800 rounded-lg hover:bg-purple-800
                            focus:ring-4 focus:outline-none focus:ring-purple-300
                            dark:bg-purple-600 dark:hover:bg-purple-700
                            dark:focus:ring-purple-800">
                            View
                            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1"
                                fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"><path
                                    fill-rule="evenodd" d="M10.293 3.293a1 1 0
                                    011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0
                                    01-1.414-1.414L14.586 11H3a1 1 0
                                    110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                    <div class="inline-block max-w-sm p-6 bg-white border
                        border-gray-200 rounded-lg shadow dark:bg-gray-800
                        dark:border-gray-700">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight
                                text-gray-900 dark:text-white">Report</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700
                            dark:text-gray-400">View the project report compiled by GoodTeam</p>
                        <a href="/report" class="inline-flex items-center px-3 py-2
                            text-sm font-medium text-center text-white
                            bg-purple-800 rounded-lg hover:bg-purple-800
                            focus:ring-4 focus:outline-none focus:ring-purple-300
                            dark:bg-purple-600 dark:hover:bg-purple-700
                            dark:focus:ring-purple-800">
                            View
                            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1"
                                fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"><path
                                    fill-rule="evenodd" d="M10.293 3.293a1 1 0
                                    011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0
                                    01-1.414-1.414L14.586 11H3a1 1 0
                                    110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Design Block -->

    </div>
    <!-- Container for demo purpose -->
    {% endblock %}
